<mat-card class="main-card">
    <!-- <mat-card-header class="main-header">
        <mat-card-title>
            {{ProjectName}}
        </mat-card-title>
        <mat-card-subtitle>
            Proejct Details
        </mat-card-subtitle>
        
    </mat-card-header> -->
    <mat-card-content>
        <div style="width: 100%; display: inline-flex; position: relative;">
        <div class="width-25">
            <mat-card class="bulding-card">
                <mat-card-header>
                <mat-card-subtitle class="inner-subtitle">
                    <div class="containerX">
                        <div class="container">
                            <div class="copyButton">
                                <button mat-raised-button mat-button color="primary" (click)="toggleAdd('addDiv')">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card-subtitle>
                </mat-card-header>
                <div [@slideInOut]="animationState" class="addDiv" >
                    <form [formGroup]="addBulding">
                        <mat-form-field class="width-50">
                            <input matInput type="text" formControlName="BuildingShortCode" placeholder="Sortcode">
                        </mat-form-field>
                        <mat-form-field class="width-50 ml-2">
                            <input matInput type="text" formControlName="BuildingName" placeholder="Building Name">
                        </mat-form-field>
                        <span class="b-add-button">
                            <button [disabled]="this.addBulding.invalid" mat-button mat-raised-button color="primary" (click)="sendBuildingData()">Insert</button>
                            <button class="cancelButton" mat-button mat-raised-button color="cancel" (click)="reset()">Cancel</button>
                        </span>
                    </form>
                </div>
                <mat-card-content>
                    <mat-selection-list class="bulding-select" #shoes [multiple]="false" (selectionChange)="getBuildingList($event)">
                        <mat-list-option class="bulding-list" *ngFor="let building of buildingDetails; let i = index" [value]="building.id">
                        <span>
                            <span *ngIf="!building.canEditCode">
                            <span>{{building.BuildingShortCode}}</span> |
                            <span>{{building.BuildingName}}</span>
                            </span>
                            <span *ngIf="building.canEditCode">
                            <input [(ngModel)]="building.BuildingShortCode" type="text" class="form-control" style="width: 25%;" /> |
                            <input [(ngModel)]="building.BuildingName" type="text" class="form-control" />
                            </span>
                        </span>
                        <span class="option-button">
                                <mat-hint>
                                    <mat-icon *ngIf="!building.canEditCode" style="color: green;" (click)="building.canEditCode = true">edit</mat-icon>
                                    <mat-icon *ngIf="building.canEditCode" (click)="updateBuilding(building)" style="color: green;">done</mat-icon>
                                    <mat-icon *ngIf="!building.canEditCode" (click)="deleteBuilding(i, building)" style="color: red;">delete</mat-icon>
                                    <mat-icon *ngIf="building.canEditCode" (click)="cancelEdit(building)" style="color: red;">clear</mat-icon>
                                </mat-hint>
                        </span>
                        </mat-list-option>
                        
                    </mat-selection-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="width-25">
            <mat-card class="items-card">
                <mat-card-header>
                    <mat-card-subtitle class="inner-subtitle">
                        <div class="containerX">
                            <div class="container">
                                <div class="copyButton">
                                    <button [disabled]="!disabledAddItem" mat-raised-button mat-button color="primary" (click)="toggleAdd('addDiv2')">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button class="ml-2" [disabled]="!disabledAddItem" (click)="slectAndItems('Select',{})" mat-raised-button mat-button color="primary">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                </div>
                                <div class="conf-seq">
                                        <select class="select-confi" [disabled]="!sequenceStatus['Items']==false" matTooltip="Select items sequence" matTooltipPosition="above" matNativeControl #sel (change)="itemSequence($event)">
                                            <option  *ngFor="let option of sequenceItem" [value]="option.value"
                                            [selected]="selectedItem === option.value">{{ option.viewValue }}</option>
                                        </select>
                                </div>
                                
                            </div>
                        </div>
                    </mat-card-subtitle>
                </mat-card-header>
                <div [@slideInOut]="animationState2" class="addDiv2" >
                    <form [formGroup]="addItems">
                        <mat-form-field class="width-100">
                            <input matInput type="text" formControlName="ItemsName" placeholder="Item Name">
                        </mat-form-field>
                        <button [disabled]="this.addItems.invalid" align="end" mat-button mat-raised-button color="primary" (click)="sendItemsData()">Insert</button>
                        <button class="cancelButton" mat-button mat-raised-button (click)="reset2()">Cancel</button>
                    </form>
                </div>
                <mat-card-content>
                    <mat-selection-list class="bulding-select" class="" #item [multiple]="false" (selectionChange)="getItemId($event)">
                        <mat-list-option class="bulding-list" *ngFor="let items of buildingItem; let i = index;" [value]="items.id">
                            <span>({{items.ItemShortCode}}) <span *ngIf="!items.canEditCode">{{items.ItemName}}</span>
                                                            <span *ngIf="items.canEditCode"><input [(ngModel)]="items.ItemName" type="text" /></span>
                            </span>
                            <span class="option-button">
                                <mat-hint>
                                    <mat-icon *ngIf="!items.canEditCode" style="color: green;" (click)="items.canEditCode = true">edit</mat-icon>
                                    <mat-icon *ngIf="items.canEditCode" (click)="updateItem(items)" style="color: green;">done</mat-icon>
                                    <mat-icon *ngIf="!items.canEditCode" (click)="deleteItem(i, items)" style="color: red;">delete</mat-icon>
                                    <mat-icon *ngIf="items.canEditCode" (click)="cancelItem(items)" style="color: red;">clear</mat-icon>
                                </mat-hint>
                        </span>
                        </mat-list-option>
                    </mat-selection-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="width-50" style="width: 50%;">
            <mat-card class="itemlist-card">
                <mat-card-header>
                    <mat-card-subtitle class="inner-subtitle">
                        <div class="containerX">
                            <div class="container">
                                <div class="copyButton">
                                    <button [disabled]="!disabledAddLineItems" mat-raised-button mat-button color="primary" (click)="toggleAdd('addDiv3')">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button [disabled]="!disabledCopyLineItem" (click)="slecetAndLineItems('Select',{})" class="ml-2" mat-raised-button mat-button color="primary">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                </div>
                                <div class="conf-seq">
                                    <select class="select-confi" matTooltip="Select items sequence" matTooltipPosition="above" matNativeControl #sel (change)="lineitemSequence($event)" [disabled]="!sequenceStatus['LineItems']==false">
                                        <option  *ngFor="let option of sequenceLineItem" [value]="option.value"
                                        [selected]="selectedLineItem === option.value">{{ option.viewValue }}</option>
                                        
                                    </select>
                            </div>
                            </div>
                        </div>
                    </mat-card-subtitle>
                </mat-card-header>
                <div [@slideInOut]="animationState3" class="addDiv3" >
                    <form [formGroup]="InsertLineItems">
                        <mat-form-field class="width-50">
                            <input matInput type="text" formControlName="ShortDescription" placeholder="S.Description">
                        </mat-form-field>
                        <mat-form-field class="width-50 ml-2">
                            <textarea matInput type="text" formControlName="LineItemDescription" placeholder="L.Description"></textarea>
                        </mat-form-field>
                        <mat-form-field class="width-25 ml-2">
                            <input matInput type="number" formControlName="Qty" placeholder="Qty">
                        </mat-form-field>
                        <mat-form-field class="width-25 ml-2">
                            <mat-select formControlName="Unit" required placeholder="Unit">
                                <mat-option *ngFor="let option of unit" [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="width-25 ml-2">
                            <input matInput type="number" formControlName="Rate" placeholder="Rate">
                        </mat-form-field>
                        <mat-form-field class="width-25 ml-2">
                            <input matInput type="number" formControlName="Amount" placeholder="Amount">
                        </mat-form-field>
                        <mat-form-field class="width-25 ml-2">
                            <textarea matInput type="text" formControlName="Remarks" placeholder="Remarks"></textarea>
                        </mat-form-field>
                        <button [disabled]="this.InsertLineItems.invalid" mat-button mat-raised-button color="primary" (click)="addLineItemsData()" style="margin-left: 14px;">Insert</button>
                        <button class="cancelButton" mat-button mat-raised-button (click)="reset3()">Cancel</button>
                    </form>
                </div>
                <mat-card-content>
                    <!-- mat table -->
                    <table mat-table [dataSource]="dataSource" #outerSort="matSort"  multiTemplateDataRows class="mat-elevation-z8" matSort>
                        <ng-container matColumnDef="ShortCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.Code </th>
                            <td mat-cell *matCellDef="let element"> {{element.ShortCode}} </td>
                        </ng-container>
                        <ng-container matColumnDef="LineItemDescription">
                            <th mat-header-cell *matHeaderCellDef> S.Description </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="!element.canEditCode">{{element.ShortDescription}}</span>
                                <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.ShortDescription" />
                                    <textarea class="itemrow" [(ngModel)]="element.LineItemDescription" type="text"></textarea></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="IsSubLineItem">
                            <th mat-header-cell *matHeaderCellDef> SubItem </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;">
                                <mat-checkbox (click)="expandedElement = expandedElement === element ? null : element"></mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Qty">
                            <th mat-header-cell *matHeaderCellDef> Qty </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="!element.canEditCode">{{element.Qty}}</span>
                                <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Qty" type="number" /></span>
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="Unit">
                            <th mat-header-cell *matHeaderCellDef> Unit </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="!element.canEditCode">{{element.Unit}}</span>
                                <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Unit" type="number" /></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Rate">
                            <th mat-header-cell *matHeaderCellDef> Rate </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="!element.canEditCode">{{element.Rate}}</span>
                                <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Rate" type="number" /></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Amount">
                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="!element.canEditCode">{{element.Amount}}</span>
                                <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Amount" type="number" /></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Remarks">
                            <th mat-header-cell *matHeaderCellDef> Remarks </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="!element.canEditCode">{{element.Remarks}}</span>
                                <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Remarks" type="text" /></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element; let index = index;"> 
                                <span style="display: flex;">
                                    <mat-icon *ngIf="!element.canEditCode" style="color: green;" (click)="element.canEditCode = true">edit</mat-icon>
                                    <mat-icon *ngIf="element.canEditCode" (click)="updateLineItem(element)" style="color: green;">done</mat-icon>
                                    <mat-icon *ngIf="!element.canEditCode" (click)="deleteLineItem(index, element)" style="color: red;">delete</mat-icon>
                                    <mat-icon *ngIf="element.canEditCode" (click)="cancelItem(element)" style="color: red;">clear</mat-icon>
                                </span>
                            </td>
                        </ng-container>
                        <!-- Expanded Content -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                                <div class="example-element-detail" 
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                    
                                    <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
                                        <div [@slideInOut]="animationState4" class="addDiv4" >
                                            <form [formGroup]="InsertSubLineItems">
                                                <mat-form-field class="width-50">
                                                    <input matInput type="text" formControlName="ShortDescription" placeholder="S.Description">
                                                </mat-form-field>
                                                <mat-form-field class="width-50 ml-2">
                                                    <textarea matInput type="text" formControlName="LineItemDescription" placeholder="L.Description"></textarea>
                                                </mat-form-field>
                                                <mat-form-field class="width-25 ml-2">
                                                    <input matInput type="number" formControlName="Qty" placeholder="Qty">
                                                </mat-form-field>
                                                <mat-form-field class="width-25 ml-2">
                                                    <mat-select formControlName="Unit" required placeholder="Unit">
                                                        <mat-option *ngFor="let option of unit" [value]="option">{{option}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field class="width-25 ml-2">
                                                    <input matInput type="number" formControlName="Rate" placeholder="Rate">
                                                </mat-form-field>
                                                <mat-form-field class="width-25 ml-2">
                                                    <input matInput type="number" formControlName="Amount" placeholder="Amount">
                                                </mat-form-field>
                                                <mat-form-field class="width-25 ml-2">
                                                    <textarea matInput type="text" formControlName="Remarks" placeholder="Remarks"></textarea>
                                                </mat-form-field>
                                                <button [disabled]="this.InsertSubLineItems.invalid" mat-button mat-raised-button color="primary" (click)="addSubLineItemsData(element)" style="margin-left: 14px;">Insert</button>
                                                <button class="cancelButton" mat-button mat-raised-button (click)="reset4()">Cancel</button>
                                            </form>
                                        </div>
                                        <table #innerTables mat-table #innerSort="matSort" [dataSource]="element.sublineitems" matSort>
            
                                            <ng-container matColumnDef="ShortCode">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.Code </th>
                                                <td mat-cell *matCellDef="let element"> {{element.ShortCode}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="LineItemDescription">
                                                <th mat-header-cell *matHeaderCellDef> S.Description </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span *ngIf="!element.canEditCode">{{element.ShortDescription}}</span>
                                                    <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.ShortDescription" />
                                                        <textarea class="itemrow" [(ngModel)]="element.LineItemDescription" type="text"></textarea>
                                                    </span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Qty">
                                                <th mat-header-cell *matHeaderCellDef> Qty </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span *ngIf="!element.canEditCode">{{element.Qty}}</span>
                                                    <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Qty" type="number" /></span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Unit">
                                                <th mat-header-cell *matHeaderCellDef> Unit </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span *ngIf="!element.canEditCode">{{element.Unit}}</span>
                                                    <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Unit" type="number" /></span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Rate">
                                                <th mat-header-cell *matHeaderCellDef> Rate </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <span *ngIf="!element.canEditCode">{{element.Rate}}</span>
                                                    <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Rate" type="number" /></span> 
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Amount">
                                                <th mat-header-cell *matHeaderCellDef> Amount </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span *ngIf="!element.canEditCode">{{element.Amount}}</span>
                                                    <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Amount" type="number" /></span> 
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Remarks">
                                                <th mat-header-cell *matHeaderCellDef> Remarks </th>
                                                <td mat-cell *matCellDef="let element">  
                                                    <span *ngIf="!element.canEditCode">{{element.Remarks}}</span>
                                                    <span *ngIf="element.canEditCode"><input class="itemrow" [(ngModel)]="element.Remarks" type="number" /></span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Action">
                                                <th mat-header-cell *matHeaderCellDef> <mat-icon style="color: green;" (click)="toggleAdd('addDiv4')">add</mat-icon> </th>
                                                <td mat-cell *matCellDef="let element;">   
                                                    <span style="display: flex;">
                                                        <mat-icon *ngIf="!element.canEditCode" style="color: green;" (click)="element.canEditCode = true">edit</mat-icon>
                                                        <mat-icon *ngIf="element.canEditCode" (click)="updateLineItem(element)" style="color: green;">done</mat-icon>
                                                        <mat-icon *ngIf="!element.canEditCode" (click)="deletesulineItem(i = element.id)" style="color: red;">delete</mat-icon>
                                                        <mat-icon *ngIf="element.canEditCode" (click)="cancelItem(element)" style="color: red;">clear</mat-icon>
                                                    </span>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [class.example-element-row]="element.sublineitems?.data"
                        [class.example-expanded-row]="expandedElement === element" (click)="toggleRows(element)">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
        </div>

    </mat-card-content>
 </mat-card>
  