table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #dfdfdf;
    text-align: left;
    padding: 8px;
  }
  tr {
      padding: 10px;
  }