<mat-card class="full-width">
    <mat-card-content>
        <button mat-button mat-raised-button color="primary" (click)="openProjectDialog('Add',{})"> Add Project</button>
          <mat-form-field>
            <input matInput placeholder="Search">
          </mat-form-field>
      <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>
          
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="ProjectName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ProjectName}} </mat-cell>
          </ng-container>
        

          <ng-container matColumnDef="ProjectShortName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Project Short Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ProjectShortName}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="StartDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.StartDate}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="EndDate">
              <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.EndDate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ProjectAddress">
              <mat-header-cell *matHeaderCellDef> Prject Address </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ProjectAddress}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="PoAmount">
              <mat-header-cell *matHeaderCellDef> Project Amount </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.PoAmount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ClientName">
              <mat-header-cell *matHeaderCellDef> Client Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ClientName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ClientAddress">
              <mat-header-cell *matHeaderCellDef> Client Address </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ClientAddress}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="StructuralConsultantName">
              <mat-header-cell *matHeaderCellDef> S.Consultant Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.StructuralConsultantName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="StructuralConsultantAddress">
              <mat-header-cell *matHeaderCellDef> S.Consultant Address </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.StructuralConsultantAddress}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ArchitectName">
              <mat-header-cell *matHeaderCellDef> Architect Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ArchitectName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ArchitectAddress">
              <mat-header-cell *matHeaderCellDef> Architect Address </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ArchitectAddress}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="TypeOfProject">
              <mat-header-cell *matHeaderCellDef> Type Of Project </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.TypeOfProject}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Go">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a mat-raised-button color="primary" routerLink="{{element.id}}" routerLinkActive="active">Go to Project</a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <i (click)="openProjectDialog('Update',element)" class="material-icons edit" title="Edit Project">edit</i> 
                <i (click)="deleteProject(element.id)" class="material-icons archive" title="archive">delete</i> 
              </mat-cell>
            </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>