<mat-card class="full-width">
    <mat-card-content>
      <!-- (click)="configMeasurment('Insert',{})" -->
        <button mat-button mat-raised-button color="primary" (click)="addMeasurmentsheet()"> Insert</button>
          <mat-form-field>
            <input matInput placeholder="Search">
          </mat-form-field>
      <div class="mat-elevation-z8">
        <form #form [formGroup]="measurementList">
          
          <mat-table #table [dataSource]="dataSource" matSort formArrayName="tableRows" >
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; let index=index; columns: displayedColumns;" [formGroupName]="index"></mat-row>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <span *ngIf="!element.isEditable">{{element.id}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ShortCode">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>          
            </ng-container>
          
            <ng-container matColumnDef="Building">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Building </mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <span *ngIf="!element.isEditable">{{element.Building }}</span>
                <span *ngIf="element.isEditable" >
                  <mat-form-field class="width-100">
                    <mat-select matNativeControl (selectionChange)="selectBuilding($event, element)" formControlName="Building" placeholder="building">
                      <mat-option *ngFor="let b of building" [value]="b.id">{{b.BuildingName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ShortDescription">
              <mat-header-cell *matHeaderCellDef mat-sort-header> S.Description </mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <span *ngIf="!element.isEditable">{{element.ShortDescription }}</span>
                <span  *ngIf="element.isEditable" >
                  
                  <mat-form-field class="width-100">
                    <mat-select formControlName="ShortDescription" matNativeControl (selectionChange)="selectSortDes($event, index)">
                      <mat-option>---</mat-option>
                      <mat-optgroup *ngFor="let item of buildingItems" [label]="item.ItemName">
                        <mat-option *ngFor="let lineitem of item.Description" [value]="lineitem.id">{{lineitem.ShortDescription}}</mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>

                </span>
              </mat-cell>
            </ng-container>

            
            <ng-container matColumnDef="CostCode">
              <mat-header-cell *matHeaderCellDef mat-sort-header> CostCode </mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <span *ngIf="!element.isEditable">{{element.CostCode}}</span>
                <span  *ngIf="element.isEditable" ><input type="text" formControlName="CostCode"></span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="LineItemDetailsId">
              <mat-header-cell *matHeaderCellDef mat-sort-header> LineItemDetailsId </mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <span *ngIf="!element.isEditable">{{element.LineItemDetailsId}}</span>
              </mat-cell>
            </ng-container>

             <ng-container matColumnDef="Component">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Component </mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <span *ngIf="!element.isEditable">{{element.Component }}</span>
                <span  *ngIf="element.isEditable" ><input type="text" formControlName="Component"></span>
              </mat-cell>
            </ng-container>
          
            
            <ng-container matColumnDef="Tag">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tag </mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <span *ngIf="!element.isEditable">{{element.Tag }}</span>
                <span  *ngIf="element.isEditable" ><input type="text" formControlName="Tag"></span>
              </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="XGrid">
                <mat-header-cell *matHeaderCellDef> XGrid </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.XGrid }}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="XGrid"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="YGrid">
                <mat-header-cell *matHeaderCellDef> YGrid </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.YGrid }}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="YGrid"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Notes">
                <mat-header-cell *matHeaderCellDef> Notes </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.Notes }}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="Notes"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Level">
                <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.Level }}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="Level"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="No">
                <mat-header-cell *matHeaderCellDef> No </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.No }}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="No"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Length">
                <mat-header-cell *matHeaderCellDef> Length </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.Length }}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="Length"></span>
                </mat-cell>
              </ng-container>

               <ng-container matColumnDef="Breadth">
                <mat-header-cell *matHeaderCellDef> Breadth </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.Breadth }}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="Breadth"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Depth">
                <mat-header-cell *matHeaderCellDef> Depth </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.Depth}}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="Depth"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Quantity">
                <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.Quantity}}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="Quantity"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Unit">
                <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.Unit}}</span>
                  <span  *ngIf="element.isEditable" ><input type="text" formControlName="Unit"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Bill">
                <mat-header-cell *matHeaderCellDef> Bill </mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <span *ngIf="!element.isEditable">{{element.Bill}}</span>
                  <span *ngIf="element.isEditable"><input type="text" formControlName="Bill"></span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element; let index=index">
                  <!-- (click)="element.canEditCode = true" -->
                  <span *ngIf="!element.isEditable" class="material-icons" (click)="editRow(element, index)">edit</span>
                  <span *ngIf="element.saveButton" class="material-icons" (click)="insertMeasuremnt(index)">done</span>
                  <span *ngIf="element.canEditMode" class="material-icons" (click)="editElement(element, index);">done_all</span>
                  <span *ngIf="!element.isEditable" (click)="copyMeasurementLine(element.id)" class="material-icons">content_copy</span>
                  <span class="material-icons" (click)="deleteRow(element, index)">delete</span>

                </mat-cell>
              </ng-container>
          
            
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        
        </form>
      </div>
    </mat-card-content>
</mat-card>
