

<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-dialog-title>{{ action }} Project</h2>
<mat-dialog-content>
    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="projectName">
            <form [formGroup]="projectName">
              <ng-template matStepLabel>Project Name</ng-template>
              <mat-form-field>
                <input matInput placeholder="Project Name" formControlName="ProjectName" required>
                <mat-error>Please provide a project name </mat-error>
              </mat-form-field>
              <div>
                <button mat-button [mat-dialog-close]="true">Cancel</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="projectDetails">
            <form [formGroup]="projectDetails">
              <ng-template matStepLabel>Project Details</ng-template>
              <mat-form-field>
                <input matInput class="width-50" placeholder="Project Short Name" formControlName="ProjectShortName" >
              </mat-form-field>
              <mat-form-field>
                <input type="date" class="width-50 ml-2" matInput placeholder="Start Date" formControlName="StartDate" required>
              </mat-form-field>
              <mat-form-field>
                <input type="date" class="width-50" matInput placeholder="End Date (Optional)" formControlName="EndDate" >
              </mat-form-field>
              <mat-form-field>
                <input matInput class="width-50 ml-2" placeholder="Project Address" formControlName="ProjectAddress" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput class="width-50" placeholder="Project Amount" formControlName="PoAmount" required>
                <mat-error>
                    Please provide a project amount
                </mat-error>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="cleintInfo">
            <form [formGroup]="cleintInfo">
              <ng-template matStepLabel>Client Info</ng-template>
              <mat-form-field>
                <input matInput placeholder="Client Name" formControlName="ClientName">
              </mat-form-field>
              <mat-form-field>
                <input matInput  placeholder="Client Address (Optional)" formControlName="ClientAddress" >
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="consultantInfo">
            <form [formGroup]="consultantInfo">
              <ng-template matStepLabel>Consultant Info</ng-template>
              <mat-form-field>
                <input matInput placeholder="Consultant Name" formControlName="StructuralConsultantName">
              </mat-form-field>
              <mat-form-field>
                <input matInput  placeholder="Consultant Address (Optional)" formControlName="StructuralConsultantAddress" >
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="architectInfo">
            <form [formGroup]="architectInfo">
              <ng-template matStepLabel>Consultant Info</ng-template>
              <mat-form-field>
                <input matInput placeholder="Architect Name" formControlName="ArchitectName" >
              </mat-form-field>
              <mat-form-field>
                <input matInput  placeholder="Architect Address (Optional)" formControlName="ArchitectAddress">
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="projectType">
            <form [formGroup]="projectType">
              <ng-template matStepLabel>Project Type</ng-template>
              <mat-form-field>
                <input matInput placeholder="Type Of Project" formControlName="TypeOfProject">
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="doAction()">{{ action }} Project</button>
              </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>            
</mat-dialog-content>
